.custom-navbar {
  background-color: #0095c3; /* Altere para a cor desejada */
}

.custom-navbar .navbar-brand {
  color: #fff !important; /* Certifique-se de que o texto é legível */
}

.custom-navbar .dropdown-item {
  color: #000 !important; /* Certifique-se de que o texto é legível */
}
.custom-navbar .nav-link, .dropdown {
  color: #fff !important; /* Certifique-se de que o texto é legível */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}