.custom-navbar {
  background-color: #000; /* Altere para a cor desejada */
}

.custom-navbar .navbar-brand {
  color: #fff !important; /* Certifique-se de que o texto é legível */
}

.custom-navbar .dropdown-item {
  color: #000 !important; /* Certifique-se de que o texto é legível */
}

.custom-navbar .nav-link, .dropdown {
  color: #fff !important; /* Certifique-se de que o texto é legível */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* Adicionando o efeito de hover */
.custom-navbar .nav-link:hover,
.custom-navbar .custom-navbar .dropdown-item:hover {
  background-color: #fff !important;
  color: #000 !important;
}
