.full-page {
  width: 100svw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  height: 500px;
  min-width: 600px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.logo {
  flex: 1;
  background-color: #cfc6c6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.logo p {
  font-size: 2pc;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}